<h1> Show Section </h1>
<div>
  Name:
  <%= @section.name %>
</div>

<div>
  Content:
  <%= simple_format @section.content %>
</div>

<div>
  <%= link_to  "Back", book_sections_path(@section.book) %>
</div>