<h1>New Book</h1>

<%- if @book.errors.any? %>
  <ol>
    <%- @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ol>
<% end %>

<%= render partial: "books/form", locals: { book: @book }%>